{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Ecom-scrapper</h1>
            </div>
            <div>
                <h2>Mettre à jour les données</h2>
            </div>
            <div class="actions">
                <a href="{{ path('updateinfo') }}">
                    Lancer la tache checkant tous les produits (lancé en auto toutes les nuits)
                </a>
                <hr />
                {% for docId, docName in docs %}
                    <a href="{{ path('updateinfo', {doc: docId, category: docName}) }}">
                        MAJ les infos des {{ docName }}
                    </a>
                    <hr />
                    <a href="{{ path('updatelink', {doc: docId, category: docName}) }}">
                        MAJ LINK des {{ docName }}
                    </a>
                    <hr />
                {% endfor %}
            </div>
            <div>
                <h2>Vérifier toutes les données</h2>
            </div>
            <div class="actions">
                {% for docId, docName in docs %}
                    <a href="{{ path('checkinfo', {doc: docId, category: docName}) }}">
                        Vérifier les infos des {{ docName }}
                    </a>
                    <hr />
                {% endfor %}
            </div>
            <div>
                <h2>Search informations</h2>
                <form method="GET" action="{{ path('findinfo') }}">
                    <div class="form-row">
                        <label for="find_category">
                            Category
                        </label>
                        <select name="category" id="find_category">
                            {% for docId, docName in docs %}
                                <option value="{{ docName }}">{{ docName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <label for="find_ean">
                            Ean
                        </label>
                        <input type="text" name="ean" id="find_ean" />
                    </div>
                    <div class="form-row">
                        <input type="submit" />
                    </div>
                </form>
                {% if output is defined %}
                    <h3>Resultat</h3>
                    {{ output|raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
