{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Ecom-scrapper</h1>
            </div>
            <div class="actions">
                <a href="{{ path('updateprice') }}">
                    Mettre à jour les prix
                </a>
                <hr />
                <a href="{{ path('checkinfo', {doc: '1YTys0LNJt4OgHzDErSP_TTtzA49_9yxMhqILDph2_VA'}) }}">
                    Checker les infos des aspirateurs
                </a>
                <hr />
                <a href="{{ path('checkinfo', {doc: '1msHBIiyGUy42dVKl1ddXwJ6d7y_7WqZm9oht4VBPhf8'}) }}">
                    Checker les infos des machines à laver
                </a>
                <hr />
                <h2>Find informations</h2>
                <form method="GET" action="{{ path('findinfo') }}">
                    <div class="form-row">
                        <label for="find_category">
                            Category
                        </label>
                        <select name="category" id="find_category">
                            <option value="aspirateur">Aspirateur</option>
                            <option value="machinealaver">Machine à laver</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label for="find_ean">
                            Ean
                        </label>
                        <input type="text" name="ean" id="find_ean" />
                    </div>
                    <div class="form-row">
                        <input type="submit" />
                    </div>
                </form>
                {% if output is defined %}
                    <h3>Resultat</h3>
                    {{ output|raw }}
                {% endif %}

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
